#compiled python modules
*.pyc

#Python egg metadata for atomman
*.egg-info/
*.egg

#PyPI dist and build
dist/
build/
dist-old/
upload_package.bash

# Jupyter checkpoints
*.ipynb_checkpoints

# VSCode metadata
.vscode

# All secret stuff
*secret*
